<!-- <p-toolbar>
  <div class="p-toolbar-group-start">

  </div>
  <div class="p-toolbar-group-center">
    <h2 class="m-0">Andon Screen</h2>
  </div>

</p-toolbar> -->
<div class="borderDigaram">
<div class="row">
  
      <section class="cards no-of-core-section" >
        <p-card class="no-of-core-utilized">
          <h3 class="m-0 " >
           No of core utilized
          </h3>
        </p-card>
        <p-card class="card-count">
          <ng-template pTemplate="header">
            <div class="fontSizeClass"><b>CCM-6</b></div>
          </ng-template>
          <div><b>{{cCM6DetailsList.length}}</b></div>
        </p-card>
        <p-card  class="card-count">
          <ng-template pTemplate="header">
            <div class="fontSizeClass"><b>CCM-7</b></div>
          </ng-template>
          <div><b>{{cCM7DetailsList.length}}</b></div>
        </p-card>

        <p-card  class="card-count">
          <ng-template pTemplate="header">
            <div class="fontSizeClass"><b>CCM-8</b></div>
          </ng-template>
          <div><b>{{cCM8DetailsList.length}}</b></div>
        </p-card>
        <p-card  class="card-count">
          <ng-template pTemplate="header">
            <div class="fontSizeClass"><b>CCM-9</b></div>
          </ng-template>
          <div><b>{{cCM9DetailsList.length}}</b></div>
        </p-card>
        <p-card class="card-count">
          <ng-template pTemplate="header">
            <div class="fontSizeClass"><b>CCM-10</b></div>
          </ng-template>
          <div><b>{{cCM10DetailsList.length}}</b></div>
        </p-card>

      </section>
  
  </div>

  <p-divider />
  <div class="row">
    
        <section class="cards">
          <p-card  class="buffer-cores">
            <h3 class="m-0">
              Buffer cores

            </h3>
          </p-card>
          <p-card  class="card-count">
            <ng-template pTemplate="header">
              <div class="fontSizeClass"><b></b></div>
            </ng-template>
            <div><b></b></div>
          </p-card>
          <p-card  class="card-count">
            <ng-template pTemplate="header">
              <div class="fontSizeClass"><b></b></div>
            </ng-template>
            <div><b></b></div>
          </p-card>
  
          <p-card  class="card-count">
            <ng-template pTemplate="header">
              <div class="fontSizeClass"><b></b></div>
            </ng-template>
            <div><b></b></div>
          </p-card>

           <p-card  class="card-count">
            <ng-template pTemplate="header">
              <div class="fontSizeClass"><b></b></div>
            </ng-template>
            <div><b></b></div>
          </p-card>

           <p-card  class="card-count">
            <ng-template pTemplate="header">
              <div class="fontSizeClass"><b></b></div>
            </ng-template>
            <div><b></b></div>
          </p-card>
        </section>
     
    </div>
    <p-divider />
    <div class="row">
      
          <section class="cards">
            <p-card class="pending-task">
              <h3 class="m-0">
                Pending task

  
              </h3>
            </p-card>
            <p-card  class="card-count">
              <ng-template pTemplate="header">
                <div class="fontSizeClass"><b></b></div>
              </ng-template>
              <div><b></b></div>
            </p-card>

             <p-card  class="card-count">
            <ng-template pTemplate="header">
              <div class="fontSizeClass"><b></b></div>
            </ng-template>
            <div><b></b></div>
          </p-card>

            <p-card  class="card-count">
            <ng-template pTemplate="header">
              <div class="fontSizeClass"><b></b></div>
            </ng-template>
            <div><b></b></div>
          </p-card>

             <p-card  class="card-count">
            <ng-template pTemplate="header">
              <div class="fontSizeClass"><b></b></div>
            </ng-template>
            <div><b></b></div>
          </p-card>

             <p-card  class="card-count">
            <ng-template pTemplate="header">
              <div class="fontSizeClass"><b></b></div>
            </ng-template>
            <div><b></b></div>
          </p-card>
    
          </section>
        
      </div>
      <p-divider />
      <div class="row">
     
            <section class="cards no-of-core-cardeSection">
              <p-card class="No-of-cores-prepared">
                <h3>
                  No of cores prepared

                </h3>
              </p-card>
              <p-card  class="card-count">
                <ng-template pTemplate="header">
                  <div  class="fontSizeClass"><b>Core-Shooter 4</b></div>
                </ng-template>
                <div><b>{{coreShooter4DetailsList.length}}</b></div>
              </p-card>
              <p-card class="card-count">
                <ng-template pTemplate="header">
                  <div class="fontSizeClass"><b>Core-Shooter 5</b></div>
                </ng-template>
                <div><b>{{coreShooter5DetailsList.length}}</b></div>
              </p-card>
      
              <p-card  class="card-count">
                <ng-template pTemplate="header">
                  <div class="fontSizeClass"><b>Core-Shooter-6</b></div>
                </ng-template>
                <div><b>{{coreShooter6DetailsList.length}}</b></div>
              </p-card>
              <p-card  class="card-count">
                <ng-template pTemplate="header">
                  <div class="fontSizeClass"><b>Core-Shooter-6</b></div>
                </ng-template>
                <div><b>{{coreShooter6DetailsList.length}}</b></div>
              </p-card>
              <p-card  class="card-count">
                <ng-template pTemplate="header">
                  <div class="fontSizeClass"><b>Core-Shooter-6</b></div>
                </ng-template>
                <div><b>{{coreShooter6DetailsList.length}}</b></div>
              </p-card>
              
      
            </section>
          </div>
    
      