<div class="header-container">
  <p-button pRipple severity="success" label="Outfeed" icon="pi pi-plus" class="mr-2" (click)="openAddOutfeedDialog()"></p-button>
  <h3 style="margin-left: 40%;">DMS Layout</h3>
</div>

<!-- <h3 class="m-0">DMS Layout</h3> -->

<!-- 
<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button pRipple severity="success" label="Outfeed" icon="pi pi-plus" class="mr-2"
      (click)="openAddOutfeedDialog()" />
  </div>
  <div class="p-toolbar-group-center">
    <h2 class="m-0">DMS Layout</h2>
  </div>
  <div class="p-toolbar-group-end">
  </div>
</p-toolbar> -->
<!------------------------------------------CCM code ---------------------------------------------------------->

<div class="borderDigaram">

  <table class="CcmMahine">
    <tr>
      <table style="width:60%;height: 70%;border-collapse: separate; ">
        <tr>
          <td>
            <div>
              <div class="box">
                <div class="smallbox">
                  <svg viewBox="0 0 100 100">
                    <line x1="0" y1="0" x2="100" y2="100" stroke="black" stroke-width="1" />
                    <line x1="100" y1="0" x2="0" y2="100" stroke="black" stroke-width="1" />
                  </svg>
                </div>
              </div>

              <div style="display: inline-block; margin-left: 65%;">
                <div *ngFor="let columnCount of lineNumberThreeDetailsList; let i = index"
                  class="middleCovenyLineEmptyBoxes">
                </div>
              </div>

              <div style="display: inline-block;">
                <div *ngFor="let columnCount of lineNumberFourDetailsList; let i = index" class="middleCovenyLineEmpty">
                </div>
              </div>

              <div class="box">
                <div class="smallbox">
                  <svg viewBox="0 0 100 100">
                    <line x1="0" y1="0" x2="100" y2="100" stroke="black" stroke-width="2" />
                    <line x1="100" y1="0" x2="0" y2="100" stroke="black" stroke-width="2" />
                  </svg>
                </div>
              </div>
            </div>
          </td>

          <td>
            <div style="margin-right: -50%;">
              <div class="box">
                <div class="smallbox">
                  <svg viewBox="0 0 100 100">
                    <line x1="0" y1="0" x2="100" y2="100" stroke="black" stroke-width="2" />
                    <line x1="100" y1="0" x2="0" y2="100" stroke="black" stroke-width="2" />
                  </svg>
                </div>
              </div>

              <div style="display: inline-block; margin-left: 64%">
                <div *ngFor="let columnCount of lineNumberFiveDetailsList; let i = index"
                  class="middleCovenyLineEmptyBoxes">
                </div>
              </div>


              <div style="display: inline-block;">
                <div *ngFor="let columnCount of lineNumberSixDetailsList; let i = index" class="middleCovenyLineEmpty">
                </div>
              </div>

              <div class="box">
                <div class="smallbox">
                  <svg viewBox="0 0 100 100">
                    <line x1="0" y1="0" x2="100" y2="100" stroke="black" stroke-width="2" />
                    <line x1="100" y1="0" x2="0" y2="100" stroke="black" stroke-width="2" />
                  </svg>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div style="margin-right: -130%;">
              <div class="box">
                <div class="smallbox">
                  <svg viewBox="0 0 100 100">
                    <line x1="0" y1="0" x2="100" y2="100" stroke="black" stroke-width="2" />
                    <line x1="100" y1="0" x2="0" y2="100" stroke="black" stroke-width="2" />
                  </svg>
                </div>
              </div>

              <div style="display: inline-block;margin-left: 64.5%">
                <div *ngFor="let columnCount of lineNumberSevenDetailsList; let i = index"
                  class="middleCovenyLineEmptyBoxes">
                </div>
              </div>

              <div style="display: inline-block;">
                <div *ngFor="let columnCount of lineNumberEightDetailsList; let i = index"
                  class="middleCovenyLineEmpty">
                </div>
              </div>


              <div class="box">
                <div class="smallbox">
                  <svg viewBox="0 0 100 100">
                    <line x1="0" y1="0" x2="100" y2="100" stroke="black" stroke-width="2" />
                    <line x1="100" y1="0" x2="0" y2="100" stroke="black" stroke-width="2" />
                  </svg>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div style="margin-right: -190%;">
              <div class="box">
                <div class="smallbox">
                  <svg viewBox="0 0 100 100">
                    <line x1="0" y1="0" x2="100" y2="100" stroke="black" stroke-width="2" />
                    <line x1="100" y1="0" x2="0" y2="100" stroke="black" stroke-width="2" />
                  </svg>
                </div>
              </div>


              <div style="display: inline-block;margin-left: 64.5%">
                <div *ngFor="let columnCount of lineNumberNineDetailsList; let i = index"
                  class="middleCovenyLineEmptyBoxes">
                </div>
              </div>


              <div style="display: inline-block;">
                <div *ngFor="let columnCount of lineNumberTenDetailsList; let i = index" class="middleCovenyLineEmpty">
                </div>
              </div>

              <div style="margin-left: 80%;"></div>
              <div class="box">
                <div class="smallbox">
                  <svg viewBox="0 0 100 100">
                    <line x1="0" y1="0" x2="100" y2="100" stroke="black" stroke-width="2" />
                    <line x1="100" y1="0" x2="0" y2="100" stroke="black" stroke-width="2" />
                  </svg>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div style="margin-right: -280%;">

              <div class="box">
                <div class="smallbox">
                  <svg viewBox="0 0 100 100">
                    <line x1="0" y1="0" x2="100" y2="100" stroke="black" stroke-width="2" />
                    <line x1="100" y1="0" x2="0" y2="100" stroke="black" stroke-width="2" />
                  </svg>
                </div>
              </div>

              <div style="display: inline-block; margin-left: 64.5%">
                <div *ngFor="let columnCount of lineNumberElevenDetailsList; let i = index"
                  class="middleCovenyLineEmptyBoxes">
                </div>
              </div>

              <div style="display: inline-block;">
                <div *ngFor="let columnCount of lineNumberTwelveDetailsList; let i = index"
                  class="middleCovenyLineEmpty">
                </div>
              </div>

              <div class="box">
                <div class="smallbox">
                  <svg viewBox="0 0 100 100">
                    <line x1="0" y1="0" x2="100" y2="100" stroke="black" stroke-width="2" />
                    <line x1="100" y1="0" x2="0" y2="100" stroke="black" stroke-width="2" />
                  </svg>
                </div>
              </div>
            </div>
      </table>
    </tr>
    <!--------------------------------coveyingLine Two Layer---------------------------------------------------->

    <tr>
      <div>
        <td>
          <p style="font-size: 12px;">level-2</p>
        </td>
        <td>
          <div style="display: inline-block;">
            <div *ngFor="let columnCount of [1]; let i = index" class="middleCovenyLine"
              [ngClass]="{'gap-1': i === 4, 'gap-8': i === 9}">
              <span><i class="pi pi-arrow-right" style="size:5px"></i></span>
            </div>
          </div>
        </td>

        <td *ngFor="let columnCount of lineNumberTwoDetailsList ; let i = index">
          <div class="upperLayer">
            <div class="box-container">
              <div style="margin-left: -30%; font-size: 10px;"><span><i class="pi pi-barcode"></i></span></div>
              <div *ngFor="let line of [1, 2, 3, 4,5,6]" class="vertical-line-converyor"></div>
            </div>
          </div>
        </td>
      </div>
    </tr>
    <tr>
      <div>
        <td>
          <p style="font-size: 12px;">level-1</p>
        </td>

        <td>
          <div style="display: inline-block;">
            <div *ngFor="let columnCount of [1]; let i = index" class="middleCovenyLine">
              <span><i class="pi pi-arrow-right" style="size:5px"></i></span>
            </div>
          </div>
        </td>


        <td *ngFor="let columnCount of lineNumberOneDetailsList; let i = index">
          <ng-container *ngIf="i < 10; else last11BoxTemplate">
            <div class="upperLayer" [ngClass]="{
                  'gap-4': i === 4,
                  'gap-9': i === 9
                }">
              <div class="box-container">
                <div style="margin-left: -30%; font-size: 10px;"><span><i class="pi pi-barcode"></i></span></div>
                <div *ngFor="let line of [1, 2, 3, 4,5,6]" class="vertical-line-converyor"></div>
              </div>
            </div>

            <div style="display: inline-block;margin-top: 5%;" *ngIf="i < 1;">
              <div *ngFor="let columnCount of line13DetailsList; let i = index" class="bottomConveryLine">
              </div>
            </div>
          </ng-container>

          <ng-template #last11BoxTemplate>
            <div class="last-11-box" class="boxLayer">
              <div *ngIf="i >= 10" class="smallboxLayer">
                <svg viewBox="0 0 100 100" preserveAspectRatio="none">
                  <line x1="0" y1="0" x2="100" y2="100" stroke="black" stroke-width="2" />
                  <line x1="100" y1="0" x2="0" y2="100" stroke="black" stroke-width="2" />
                </svg>
              </div>
            </div>
            <div style="display: inline-block;margin-left: 40%;">
              <div *ngFor="let columnCount of line14DetailsList; let i = index" class="bottomConveryLineLastBox"
                [ngClass]="{'gap-1': i === 4, 'gap-8': i === 9}">
              </div>
            </div>
          </ng-template>
        </td>
      </div>
    </tr>

    <!--------------------------------------------storage area------------------------------------------------>
    <tr>
      <td>
        <div style="width: 100px;height: 35px; border:2px solid #ccc;background-color: #ccc; margin-left: 3%;">
          <div style="width: 90px;height: 30px;border: 2px solid #ccc;background-color:white;">
            <div class="stacker1">
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <div style="margin-left:10%;">
        <td
          *ngFor="let columnCount of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]; let i = index">
          <div class="storageArea" [ngClass]="{'gap-4': i === 4, 'gap-9': i === 9}">
            <span>{{ columnCount }}</span>
          </div>
        </td>
      </div>
    </tr>

    <tr>
      <div style="margin-left:10%;">
        <td
          *ngFor="let columnCount of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]; let i = index">
          <div class="storageArea" [ngClass]="{'gap-4': i === 4, 'gap-9': i === 9}">
          </div>
        </td>
      </div>
    </tr>
    <div style="width: 100px;height: 35px; border:2px solid #ccc;background-color: #ccc;margin-left: 3%;">
      <div style="width: 90px;height: 30px;border: 2px solid #ccc;background-color:white;">
        <div class="stacker1">
        </div>
      </div>
    </div>

    <!--------------------------------------core shooter--------------------------------------------------------------->
    <tr>
      <table style="width:81%;height: 100%;border-collapse: separate;">
        <div style="margin-left: 40%;margin-top:1%;">

          <td *ngFor="let columnCount of [1, 2]; let i = index">
            <div class="pick-place" [ngClass]="{'gap-4': i === 4, 'gap-9': i === 9}">
            </div>
          </td>
          <td> <img class="project-robot" src="assets/robotIcon.png" alt=""></td>
          <td class="FirstBoxFront">
            <ng-container *ngIf="loadingSidePlcDetailsList.length > 0">
              <i *ngIf="loadingSidePlcDetailsList[0]?.coreShooterMachineIsActiveValue == 1"
                class="pi pi-circle-on custom-icon green-icon"></i>
              <i *ngIf="loadingSidePlcDetailsList[0]?.coreShooterMachineIsActiveValue == 0"
                class="pi pi-circle-on custom-icon red-icon"></i>

            </ng-container>
          </td>
          <div>
          </div>
        </div>

        <td>
          <div class="box">
            <div class="smallbox">
              <svg viewBox="0 0 100 100">
                <line x1="0" y1="0" x2="100" y2="100" stroke="black" stroke-width="2" />
                <line x1="100" y1="0" x2="0" y2="100" stroke="black" stroke-width="2" />
              </svg>
            </div>
          </div>

          <div style="display: flex; align-items: center;">
            <div style="display: flex; flex-direction: column;">
              <div style="padding-right: 0; display: flex; align-items: center;;margin-bottom: 10px;">3-level</div>

              <div style="padding-right: 0; display: flex; align-items: center; margin-bottom: 10px;">2-level</div>
              <div style="padding-right: 0; display: flex; align-items: center; margin-bottom: 10px;">1-level</div>
            </div>
            <div>
              <div *ngFor="let columnCount of [1, 2, 3]; let i = index" class="lastConveyorLineArrow"
                [ngClass]="{'gap-1': i === 4, 'gap-8': i === 9}">
                <span><i class="pi pi-arrow-right" style="size:10px"></i></span>
              </div>
            </div>
            <div>
              <div *ngFor="let columnCount of [1, 2, 3]; let i = index" class="lastConveyorLine"
                [ngClass]="{'gap-1': i === 4, 'gap-8': i === 9}">
              </div>
            </div>
          </div>
        </td>
        <table>

        </table>
        <div style="margin-left: 40%;margin-top: 1%;">
          <td *ngFor="let columnCount of [1, 2]; let i = index">
            <div class="pick-place" [ngClass]="{'gap-4': i === 4, 'gap-9': i === 9}">
            </div>
          </td>
          <td> <img class="project-robot" src="assets/robotIcon.png" alt=""></td>
          <td class="FirstBoxFront">
            <ng-container *ngIf="loadingSidePlcDetailsList.length > 0">
              <i *ngIf="loadingSidePlcDetailsList[1]?.coreShooterMachineIsActiveValue == 1"
                class="pi pi-circle-on custom-icon green-icon"></i>
              <i *ngIf="loadingSidePlcDetailsList[1]?.coreShooterMachineIsActiveValue == 0"
                class="pi pi-circle-on custom-icon red-icon"></i>
            </ng-container>
          </td>
        </div>
        <div>
          <td><i class="fa-solid fa-robot"></i> </td>
        </div>
        <td>
          <div class="box">
            <div class="smallbox">
              <svg viewBox="0 0 100 100">
                <line x1="0" y1="0" x2="100" y2="100" stroke="black" stroke-width="2" />
                <line x1="100" y1="0" x2="0" y2="100" stroke="black" stroke-width="2" />
              </svg>
            </div>
          </div>

          <div style="display: flex; align-items: center;">
            <div style="display: flex; flex-direction: column;">
              <div style="padding-right: 0; display: flex; align-items: center;;margin-bottom: 10px;">3-level</div>
              <div style="padding-right: 0; display: flex; align-items: center; margin-bottom: 10px;">2-level</div>
              <div style="padding-right: 0; display: flex; align-items: center; margin-bottom: 10px;">1-level</div>
            </div>
            <div>
              <div *ngFor="let columnCount of [1, 2, 3]; let i = index" class="lastConveyorLineArrow"
                [ngClass]="{'gap-1': i === 4, 'gap-8': i === 9}">
                <span><i class="pi pi-arrow-right" style="size:10px"></i></span>
              </div>
            </div>
            <div>
              <div *ngFor="let columnCount of [1, 2, 3]; let i = index" class="lastConveyorLine"
                [ngClass]="{'gap-1': i === 4, 'gap-8': i === 9}">
              </div>
            </div>

          </div>
        </td>
        <div style="margin-left: 40%;margin-top: 1%;">
          <td *ngFor="let columnCount of [1, 2]; let i = index">
            <div class="pick-place" [ngClass]="{'gap-4': i === 4, 'gap-9': i === 9}">
            </div>
          </td>

          <td> <img class="project-robot" src="assets/robotIcon.png" alt=""></td>
          <td class="FirstBoxFront">
            <ng-container *ngIf="loadingSidePlcDetailsList.length > 0">
              <i *ngIf="loadingSidePlcDetailsList[2]?.coreShooterMachineIsActiveValue == 1"
                class="pi pi-circle-on custom-icon green-icon"></i>
              <i *ngIf="loadingSidePlcDetailsList[2]?.coreShooterMachineIsActiveValue == 0"
                class="pi pi-circle-on custom-icon red-icon"></i>

            </ng-container>
          </td>

        </div>

        <td>
          <div class="box">
            <div class="smallbox">
              <svg viewBox="0 0 100 100">
                <line x1="0" y1="0" x2="100" y2="100" stroke="black" stroke-width="2" />
                <line x1="100" y1="0" x2="0" y2="100" stroke="black" stroke-width="2" />
              </svg>
            </div>
          </div>

          <div style="display: flex; align-items: center;">
            <div style="display: flex; flex-direction: column;">
              <div style="padding-right: 0; display: flex; align-items: center;;margin-bottom: 10px;">3-level</div>
              <div style="padding-right: 0; display: flex; align-items: center; margin-bottom: 10px;">2-level</div>
              <div style="padding-right: 0; display: flex; align-items: center; margin-bottom: 10px;">1-level</div>
            </div>
            <div>
              <div *ngFor="let columnCount of [1, 2, 3]; let i = index" class="lastConveyorLineArrow"
                [ngClass]="{'gap-1': i === 4, 'gap-8': i === 9}">
                <span><i class="pi pi-arrow-right" style="size:10px"></i></span>
              </div>
            </div>
            <div>
              <div *ngFor="let columnCount of [1, 2, 3]; let i = index" class="lastConveyorLine"
                [ngClass]="{'gap-1': i === 4, 'gap-8': i === 9}">
              </div>
            </div>
          </div>
        </td>
      </table>
    </tr>
  </table>
</div>

<!--------------------------------------Model form---------------------------------------->

<!-- Modal Structure -->
<!-- <p-dialog header="Conveyor Status" [(visible)]="displayModal" [modal]="true" [style]="{width: '25vw'}" -->
<p-dialog header="Conveyor Status" [modal]="true" [style]="{width: '25vw'}" (onHide)="closeModal()">
  <div class="p-fluid">
    <div class="p-grid">
      <!-- Conveyor Diagram on the Left Side -->
      <div class="conveyor-diagram">
        <div class="container">
          <div class="vertical-line left highlight"></div>
          <div class="vertical-line right highlight"></div>
          <div class="horizontal-line top"></div>
          <div class="horizontal-line middle"></div>
          <div class="horizontal-line bottom"></div>
        </div>
      </div>


      <!-- Auto and Manual Labels -->
      <div class="field">

      </div>

      <p-radioButton id="isActive" name="isActive" [value]=1 inputId="active"></p-radioButton>
      <label for="Auto" class="p-radiobutton-label">Auto</label>
      <p-radioButton id="isActive" name="isActive" [value]=0 inputId="inactive"></p-radioButton>
      <label for="Manual" class="p-radiobutton-label">Manual</label>

    </div>

    <!-- Motor Forward and Motor Reverse Labels -->
    <div class="field">

    </div>

    <p-radioButton id="isActive" name="isActive" [value]=1 inputId="active"></p-radioButton>
    <label for="motor Forward" class="p-radiobutton-label">Motor Forward</label>
    <p-radioButton id="isActive" name="isActive" [value]=0 inputId="inactive"></p-radioButton>
    <label for="motorReverse" class="p-radiobutton-label">Motor Reverse</label>

  </div>

  <!-- Fault Label -->
  <div class="field">
    <label for="faultLabel" class="p-mr-3">Fault</label>
    <!-- <i *ngIf="frontsensor2Value==1" class="pi pi-circle-on" style="font-size:18px;color: green;"></i>
    <i *ngIf="frontsensor2Value==0" class="pi pi-circle-on" style="font-size:18px;color: red;"></i> -->
  </div>

  <!-- Pallet Code and Error Name Inputs -->
  <div class="field">
    <label for="palletCode">Pallet Code</label>
    <input type="text" pInputText id="palletCode">
  </div>
  <div class="field">
    <label for="errorName">Error Name</label>
    <input type="text" pInputText id="errorName">
  </div>
  <p-footer>
    <button type="button" pButton label="Close" icon="pi pi-times" (click)="displayModal = false"></button>
  </p-footer>

</p-dialog>






<!----------------------------------------------------------------------------->
<p-dialog header="Outfeed List" [(visible)]="addOutfeedDialog" [modal]="true" [style]="{width: '60vw'}"
  (onHide)="closeModal()">
  <p-table #dt [value]="outfeedMissionRuntimeDetailsList"
    [globalFilterFields]="['productName', 'palletCode', 'skuCode', 'quantity']" [rows]="10" [paginator]="true"
    styleClass="p-datatable-gridlines" [scrollable]="true" scrollHeight="500px" [resizableColumns]="true"
    [exportHeader]="'customExportHeader'" [rowHover]="true">

    <ng-template pTemplate="header">
      <tr role="row">
        <th>Sr No</th>
        <th pSortableColumn="palletCode">Pallet Code<p-sortIcon field="palletCode" /></th>
        <th pSortableColumn="destination">Destination<p-sortIcon field="destination" /></th>
        <th pSortableColumn="quantity">Quantity<p-sortIcon field="quantity" /></th>
     
        <th pSortableColumn="outfeedMissionStatus">Mission Status<p-sortIcon field="outfeedMissionStatus" /></th>
        <th pSortableColumn="action">Action<p-sortIcon field="action" /></th>



      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr>
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ rowData['palletCode'] }}</td>
        <td>{{ rowData['destination'] }}</td>
        <td>{{ rowData['quantity'] }}</td>

        <td>{{ rowData['outfeedMissionStatus'] }}</td>
        <td>
          <p-button pRipple icon="pi pi-pencil" class="mr-2" [rounded]="false" [outlined]="false" severity="success"
            (click)="editOutfeedMissionStatusDetails(rowData)" />
        </td>
      </tr>
    </ng-template>
  </p-table>

</p-dialog>

<!-- edit model -->

<form #outfeedForm="ngForm">
  <p-dialog [(visible)]="editOutfeedDialog" [style]="{ width: '550px',height:'340px' }" header="Mission Status Details"
    [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="field">
        <label for="outfeedMissionStatus">Mission Status:</label>
        <!-- <input type="text" pInputText id="outfeedMissionStatus" [(ngModel)]="outfeedList.outfeedMissionStatus"
          name="outfeedMissionStatus" required #outfeedMissionStatus="ngModel" autofocus />
        <small class="p-error"
          *ngIf="outfeedMissionStatus.invalid && (outfeedMissionStatus.dirty || outfeedMissionStatus.touched)">
          Mission Status is required.
        </small> -->
        <p-dropdown [options]="outfeedMissionStatusList" name="selectedDestination"
          [(ngModel)]="selectedOutfeedMissionStatus" placeholder="Select OutfeedMissionStatus"></p-dropdown>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button pRipple label="Cancel" icon="pi pi-times" (click)="hideEditDialog()" />
      <p-button pRipple label="Save" icon="pi pi-check" (click)="addOutfeedRuntimeDetails(outfeedList)"
        [disabled]="outfeedForm.invalid" />
    </ng-template>
  </p-dialog>
  <p-confirmDialog [style]="{ width: '450px' }" />
</form>