
<p-toolbar>
    <div class="p-toolbar-group-start">
  
    </div>
    <div class="p-toolbar-group-center">
        <h2 class="m-0">CCM Buffer Details</h2>
    </div>
    <div class="p-toolbar-group-end">
      <!-- <p-button pRipple severity="info" label="Filter" icon="pi pi-filter" (click)="showFilters = !showFilters"/>
      <p-button pRipple severity="help" label="Export" icon="pi pi-upload" (click)="dt.exportCSV()" /> -->
    </div>
  </p-toolbar>

  <p-toast />
  <p-confirmDialog></p-confirmDialog>
  


<!-- <p-table #dt  [value]="bufferDetailsList"
[globalFilterFields]="['productName', 'palletCode', 'skuCode', 'quantity']" [rows]="10" [paginator]="true"
styleClass="p-datatable-gridlines" [scrollable]="true" scrollHeight="500px" [resizableColumns]="true"
[exportHeader]="'customExportHeader'" [rowHover]="true">


<ng-template pTemplate="caption">
  <div class="flex">             
    <p-iconField iconPosition="left" class="ml-auto">
      <p-inputIcon>
        <i class="pi pi-search"></i>
      </p-inputIcon>
      <input 
        pInputText 
        type="text" 
        (input)="applyGlobalFilter($event)" 
        placeholder="  Search keyword"
        style="width: 200px;" />
        </p-iconField>
     
        </div>
        </ng-template>


<ng-template pTemplate="header">
  <tr role="row">
    <th>Sr No</th>
    <th pSortableColumn="equipmentName">CCM Name<p-sortIcon field="equipmentName" /></th>
    <th pSortableColumn="bufferCount">Buffer Count<p-sortIcon field="bufferCount" /></th>

  </tr>
</ng-template>

<ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
  <tr>
    <td>{{ rowIndex + 1 }}</td>
    <td>{{ rowData['equipmentName'] }}</td>
    <td>{{ rowData['bufferCount'] }}</td>
  </tr>
</ng-template>
</p-table> -->


<p-table [value]="bufferDetailsList" dataKey="equipmentId" editMode="row" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:20%"> CCM Name</th>
            <!-- <th style="width:20%">Equipment Description</th> -->
            <th style="width:20%">Buffer Count</th>
            <th style="width:20%"> Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-equipment let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="equipment">
            <td> <span class="pi pi-cart-plus"></span> <span class="pi pi-cart-plus" style="color: white;"></span>
              {{equipment.equipmentName}}</td>
            <!-- <td>{{equipment.equipmentDesc}}</td> -->
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" [(ngModel)]="equipment.bufferCount" max="7"/>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{equipment.bufferCount}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(equipment)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(equipment)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(equipment, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>


