<!-- <p-table 

            #dt 
            [columns]="tableHeaders1"
            [value]="prodtclistOneeeeeeeeeee"
            [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]"
            [globalFilterFields]="['id', 'name', 'code', 'price']"
            [paginator]="true"
            [tableStyle]="{ 'min-width': '75rem' }">
            
            

              <ng-template pTemplate="caption">
                <div class="flex">
                  <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon> -->
                      <!-- <i class="pi pi-search"></i> -->
                    <!-- </p-inputIcon>
                    <input 
                      pInputText 
                      type="text" 
                      (input)="applyGlobalFilter($event)" 
                      placeholder="Search keyword"
                      style="width: 200px;" />
                      </p-iconField>
                     

                      
                      
                      </div>
                      </ng-template>

                      <ng-template pTemplate="right">
                        <p-button 
                            pRipple 
                            severity="success" 
                            label="New" 
                            icon="pi pi-plus" 
                            class="mr-2" 
                            (click)="openNew()" />
                
                    </ng-template>
            
           
            
    <ng-template pTemplate="header">

      
      <tr role="row">

        <th pSortableColumn="sr.no" style="width:20%">
          Sr.No. 
      </th>
        <th pSortableColumn="id" style="width:22%">
          Id <p-sortIcon field="id" />
      </th>
      <th pSortableColumn="name" style="width:22%">
          Name <p-sortIcon field="name" />
      </th>
      <th pSortableColumn="code" style="width:22%">
          Code <p-sortIcon field="code" />
      </th>
      <th pSortableColumn="price" style="width:22%">
          Quantity <p-sortIcon field="price" />
      </th>
        
      </tr>
      <tr>
        <th>
          <p-columnFilter 
              type="text" 
              field="Sr.no." 
              placeholder="Search by sr.no" 
              ariaLabel="Filter Id" />
      </th>
        
      <th>
        <p-columnFilter 
            type="text" 
            field="id" 
            placeholder="Search by id" 
            ariaLabel="Filter Id" />
    </th>
    <th>
        <p-columnFilter 
            type="text" 
            field="name" 
            placeholder="Search by name" 
            ariaLabel="Filter Name" />
    </th>
    <th>
      <p-columnFilter 
          type="text" 
          field="code" 
          placeholder="Search by code" 
          ariaLabel="Filter Code" />
  </th>
  <th>
      <p-columnFilter 
          type="text" 
          field="price" 
          placeholder="Search by quantity" 
          ariaLabel="Filter Quantity" />
  </th>

  </tr>
    </ng-template> -->
    <!-- <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr>
        <td>{{rowIndex + 1}}</td>
        <td *ngFor="let col of tableHeaders">{{rowData[col.field]}}</td>
      </tr>
    </ng-template> -->


    <!-- <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <tr>
          <td>{{rowIndex + 1}}</td>
          <td>{{rowData['id']}}</td>
          <td>{{rowData['name']}}</td>
          <td>{{rowData['code']}}</td>
          <td>{{rowData['price']}}</td> -->
          <!-- <td>
            <p-button 
                pRipple 
                icon="pi pi-pencil" 
                class="mr-2" 
                [rounded]="true" 
                [outlined]="true" 
                severity="success" 
                (click)="editProduct(prodtclistOneeeeeeeeeee)" />
            <p-button 
                pRipple 
                icon="pi pi-trash" 
                severity="danger" 
                [rounded]="true" 
                [outlined]="true" 
                (click)="deleteProduct(prodtclistOneeeeeeeeeee)" />
        </td> -->
        <!-- </tr>
      </ng-template>
      
  </p-table> -->





 

<!-- <div class="card">
  <p-table #dt [columns]="tableHeaders" [value]="Medication">
    <ng-template pTemplate="header" let-columns>
      <tr role="row">
        <th *ngFor="let col of columns">{{col.header}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
      <tr>
        <td>{{rowIndex + 1}}</td>
        <td *ngFor="let col of columns">{{rowData[col.field]}}</td>
      </tr>
    </ng-template>
  </p-table>
</div> -->

  
  